* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: 0.6s;
    margin:0px;
    padding: 0px;
    border: 0px;
}
:root {
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    --primary-color : #B39DDB;
    /* --primary-color : #dbda9d; */
    --on-primary : #000;
    --primary-variant : #512DA8;
    --primary-variant-blue : #2d8fa8;
    --secondary-color : #F48FB1;
    --on-secondary : #000;
    --background : #121212;
    --on-background : #fff;
    --surface : #121212;
    --on-surface : #fff;
    --error : #EF5350;
    --on-error : #000;
    --optional-font : #EDE7F6;
}

/* ----------------HTML TAGS---------------- */

body {
    background: var(--background);
    color: var(--on-background);
    width: 100vw !important;
}

nav {
    display: flex;
}

p {
    display: inline-flex;
    vertical-align: middle;
}

.footer {
    grid-area: foot;
    display: flex;
    position: sticky;
    bottom: 0;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0.4rem;
    font-size: 0.8rem;
    background-color: #3a3a3a42;

}

/* ----------------HTML TAGS END HERE---------------- */

/* ---------------- SCROLLBAR STUFF ---------------- */

::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-button {
    display: none;
}
::-webkit-scrollbar-track {
    background: #121212;
}
::-webkit-scrollbar-track-piece {
    display: none;

}
::-webkit-scrollbar-thumb {
    background: #555;
}
::-webkit-scrollbar-thumb:hover {
    background: #777;
}
::-webkit-scrollbar-corner {
    display: none;
    background: #ffc17b;
}
/* ::-webkit-resizer {

} */

/* ---------------- SCROLLBAR STUFF ENDs HERE ---------------- */