/* ---------------- PROJECTS PAGE ---------------- */

.cards {
    grid-area: row;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    /* grid-auto-rows: 40%; */
    margin: 0px;
    gap: 1rem;
}

.card {
    background: #111;
    color: #fff;
    margin: 0px;
    border-radius: 4px;
    padding: 2px;
    display: block;
    max-width: 100%;
    /* max-height: 400px; */
}

.card a {
    margin: 0px;
}

.git-button {
    height: fit-content;
    width: fit-content;
    position: absolute;
    z-index: 1;
    top: 1rem;
    right: 1rem;
}

.git-button img {
    max-width: 50px;
    object-fit: contain;
    background-color: rgba(225, 225, 225, 0.5);
    border-radius: 100%;
    border: 2px solid white;
}


.card-content {
    position: relative;
    margin: 0px;
    width: 100%;
    height: 100%;
    max-height: 400px;
    background-color: rgba(0, 0, 0, 0.7);
}

.card-content > img {
    /* vertical-align: middle; */
    display: block;
    overflow: hidden;
    object-fit: cover;
    height: 100%;
    max-height: 400px;
    width: 100%;
    margin: 0px;
}

#project-name {
    position: absolute;
    padding-top: 10px;
    padding-left: 10px;
    margin: 0px;
    z-index: 1;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

/* modal */
.modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    /* padding-top: 100px; Location of the box */
    left: 0%;
    top: 0%;
    margin: 0px;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.1s linear, opacity 0.1s linear;
}

.modal-box {
    display: block;
    position: fixed;
    overflow-y: auto;
    font-size: 30px;
    top: 10%;
    margin: 0px;
    left: 10%;
    width: 80%;
    height: 80%;
    padding: 2rem;
    background-color: rgb(170, 50, 19);
    text-align: center;
}


/* ---------------- PROJECTS PAGE ENDs HERE ---------------- */

/* .bground {
    grid-area:main;
    width: 100%;
    height: 100%;
    z-index: -3;
    object-fit: cover;
    background: linear-gradient(-45deg, #000000, #151653, #5ed3fd, #4c0e7e);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
} */

/* ---------------- MEDIA QUERIES ---------------- */
@media not all and (hover: none) {
    .git-button{
        opacity: 0;
    }
    #project-name {
        opacity: 0;
    }
    .card-content:hover {
        cursor: pointer;
      transform: scale(0.97);
    }
    .card-content:hover .git-button {
        opacity: 1;
    }
    .card-content:hover #project-name {
        opacity: 1;
    }

    .git-button:hover img {
        transform: rotate3d(0, 1, 0, 360deg);
        transition: transform 0.5s ease-in-out;
    }

  }

@media only screen and (max-width: 600px) {
    /* less than 600px (phones) */
    .cards {
        padding: 2px;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}

@media only screen and (max-width: 768px) {
    /* 600px to 768px (landscape phones and small tablets) */
    .cards {
        padding: 2px;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}

@media only screen and (max-width: 992px) {
    /* 768px to 992px (tablets and iPads) */
    .cards {
        padding: 2px;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}
@media only screen and (min-width: 992px) {
    /* 768px to 992px (hover functionality) */

}
@media only screen and (min-width: 1200px) {
    /* more than 1200px (desktops) */
}

/* ---------------- MEDIA QUERIES END HERE ---------------- */