/* ----------------GENERAL WRAPPERS---------------- */

.body-wrapper {
    display: grid;
    grid-template-rows: 1fr 8.5fr 0.5fr;
    grid-template-areas:
    'nav nav nav nav nav nav'
    'main main main main main main'
    'foot foot foot foot foot foot';
    overflow: hidden;
    height: 100vh !important;
    width: inherit;
}

.home-wrapper{
    grid-area: main;
    /* background-color: rgb(32, 32, 32); */
    display: grid;
    transition: 0.6s;
    overflow-x: hidden;
    overflow-y: scroll;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "t i";
}

.proj-wrapper{
    grid-area: main;
    /* background-color: rgb(205, 232, 247); */
    display: none;
    padding: 1rem;
    padding-left: 10rem;
    padding-right: 10rem;
    transition: 0.6s;
    overflow-x: hidden;
    overflow-y: scroll;
    gap: 10px;
    grid-template-areas:
    "row";
}

.art-wrapper{
    grid-area: main;
    /* background-color: rgb(255, 164, 195); */
    display: none;
    transition: 0.6s;
    overflow-x: hidden;
    overflow-y: scroll;
    grid-template-areas:
    "art";
}

.write-wrapper{
    grid-area: main;
    /* background-color: #ffc17b; */
    display: none;
    transition: 0.6s;
    overflow-x: hidden;
    overflow-y: scroll;
    grid-template-rows: 2fr 1fr 10fr;
    grid-template-areas:
    "title"
    "date"
    "body";
}

/* ----------------GENERAL WRAPPERS END HERE---------------- */


/* ---------------- NAVBAR ---------------- */

.navbar {
    grid-area: nav;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0px; 
    transition: 0.6s;
    background: #000;
    border-radius: 2px;
}

.navLeft {
    display: inline-flex;
    align-items: center;
}

.navRight .navBtn button {
    padding: 15px;
    font-size: 1rem;
    border-radius: 0px;
    border: 0px;
    background-color: #000;
    color: #fff;
    outline: 0;
}

.navRight .navBtn button:hover {
    padding: 20px;
    border-radius: 0px;
    border: 0px;
    background-color: #777;
    color: #fff;
}

/* ---------------- NAVBAR ENDs HERE ---------------- */


/* ---------------- HOME PAGE ---------------- */

.home-text {
    grid-area: t;
    text-align: justify;
    padding: 2rem;
}

.home-image {
    grid-area: i;
    border: 2px solid #fff;
    padding: 2rem;
}
.home-image >img {
    height: 99%;
    width: 99%;
    object-fit: cover;
}

/* ---------------- HOME PAGE ENDs HERE ---------------- */


/* ---------------- PROJECTS PAGE ---------------- */

.cards {
    grid-area: row;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    /* grid-auto-rows: 70%; */
    margin: 0px;
    gap: 1rem;
}

.card {
    background: #111;
    color: #fff;
    margin: 0px; 
    border-radius: 4px;
    padding: 2px;
    opacity: 1;
    display: grid;
    width: 100%;
    justify-content: center;
}

.card:hover {
    transform: scale(1.1);
    opacity: 1;
    transition: 1.1s;
    box-shadow: 0px 0px 15px black;

}

.project-title {
    opacity: 0;
    position: absolute;
    top: 80%;
    left: 10%;
    color: black;
}

.card:hover .project-title {
    opacity: 1;
    text-shadow: 0px 0px 5px black;
    height: 20px;
}

.project-image {
    grid-area: image;
    margin: 0;
    width: 100%;
}
.project-image img {
    width: 100%;
    margin: 0;
    max-height: 250px;
    object-fit: cover;

}

.card:hover .project-button1{
    opacity: 1;
}
.card:hover .project-button2{
    display: block;
}
.project-button1 {
    opacity: 0;
    position: absolute;
    top: 8%;
    left: 85%;
    /* top: 6.5%;
    left: 85.9%; */
    padding: 20px;
    border-radius: 100%;
    box-shadow: 0px 0px 10px black;
    border: 0px;
    background-color: #222;
    color: #fff;
    outline: 0;
}

.project-button1 a{
    margin: 0;
    padding: 0;
    border: 0;
}

.project-button2 {
    display: none;
    /* grid-area: pBtn2; */
    padding: 10px;
    border-radius: 0px;
    border: 0px;
    background-color: #111;
    color: #fff;
    outline: 0;
}

.project-button1:hover, .project-button2:hover{
    cursor: pointer;
    background-color: #333;
    padding: 15px;
}

/* ---------------- PROJECTS PAGE ENDs HERE ---------------- */


/* ---------------- ARTWORKS PAGE ---------------- */

/* Masonry grid */
.masonry {
    column-count: 3;
    transition: all .5s ease-in-out;
    column-gap: 10px;
    column-fill: initial;
}
  
  /* Masonry item */
.masonry .brick {
    margin-bottom: 30px;
    display: inline-block;
    vertical-align: top;
}
.masonry .brick img {
    max-width: 100%;
}
.masonry .brick img:hover {
    cursor: pointer;
    
}

/* ---------------- ARTWORKS PAGE ENDs HERE ---------------- */


/* ---------------- WRITE-UPS PAGE ---------------- */



/* ---------------- WRITE-UPS PAGE ENDs HERE ---------------- */


/* ----------------OTHER CLASSES (clean later)---------------- */


/* ----------------MEDIA QUERIES---------------- */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .body-wrapper {
        display: grid;
        grid-template-rows: 1fr 8.5fr 0.5fr;
        grid-template-areas:
        "nav"
        "main"
        "foot";
        overflow: hidden;
        height: 100vh;
        width: inherit;
    }

    .navRight{
        display: inline-flex;
    }

    .navBtn {
        /* display: none; */
        flex-direction: column;
        justify-content: center;
        align-self: center;
    }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
/* ----------------MEDIA QUERIES END HERE---------------- */
