/* ---------------- WRITE-UPS PAGE ---------------- */

.filter {
    grid-area: filter;
    display: flex;
}

.filter-expand {
    position: relative;
    top: 0%;
    right: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 68px;
    height: 68px;
    cursor: pointer;
    transition: all .5s ease-in;
}
.arrow {
    border: solid #dbda9d;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 10px;
}
.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0px; /* 0 width - change this with JavaScript */
    position: fixed;
    margin: 0px;
    white-space: nowrap;
    z-index: 1; /* Stay on top */
    /* top: 1fr; */
    left: 0;
    background-color: #131313; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav #closebtn {
    position: absolute;
    top: 15px;
    right: 25px;
    font-size: 36px;
    text-align: right;
    cursor: pointer;
}

#filter-title {
    grid-area: filterTop;
    font-size: 2.1rem;
    text-align: center;
    align-items: center;
    color: #dbda9d;
    justify-content: center;
    padding: 10px;
}

.filterBtn {
    grid-area: filterBtns;
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
    height: auto;
    max-height: 270px;
    /* align-items: center; */
}

.filterBtn button {
    display: block;
    border-radius: 5px;
    margin: 2px;
    width: 100%;
    min-height: 30px;
    border: 0px;
    font: inherit;
    font-weight: 600;
    font-size: 1rem;
    color: #fff;
    background-color: #131313;
    cursor: pointer;
    height: 40px;
    max-height: 100%;
    outline: 0px;
}

.filterBtn button:hover {
    border-radius: 0px;
    /* border: 0px; */
    background-color: var(--primary-variant-yellow);
    color: white;
    cursor: pointer;
}

.list {
    overflow-y: scroll;
    grid-area: list;
    display: grid;
    grid-auto-rows: 200px;
    grid-template-columns: 1fr 1fr;
    margin: 0px;
    padding: 5px;
    /* margin-bottom: 5px; */
    gap: .5rem;
}

.content {
    background-color: #303030;
    background-size: contain;
    color: #fff;
    margin: 0px;
    font-size: 1.2rem;
    /* margin-bottom: 2px;  */
    border-radius: 5px;
    padding: 15px;
    opacity: 1;
    width: 100%;
    overflow: hidden;
    justify-content: center;
    cursor: pointer;
}

.technical {
    display: block;
}

.nonTechnical {
    display: block;
}

.blog-title {
    font-size: 1.7rem;
    overflow: hidden;
    white-space: nowrap;
    max-width: 100%;
    text-overflow: ellipsis;
}

.blog-title-des {
    width: 100%;
    overflow: hidden;
    line-height: 1.3rem;
    font-weight: 200;
    letter-spacing: 1.5px;
}

.fade {
    position: relative;
    height: 7.6rem; /* exactly three lines */
  }
  .fade:after {
    content: "";
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30%;
    height: 1.3rem;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #303030 50%);
  }
/* ---------------- WRITE-UPS PAGE ENDs HERE ---------------- */

/* ---------------- MEDIA QUERIES ---------------- */
@media only screen and (max-width: 600px) {
    /* less than 600px (phones) */
    .filter {
        grid-template-rows: 1fr 3fr 0fr;
    }

    #filter-title {
        font-size: 1.4rem;
        padding-top: 5px;
    }
    
    .filterBtn {
        max-height: 200px;
    }

    #filterArt {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    /* 600px to 768px (landscape phones and small tablets) */
}

@media only screen and (max-width: 992px) {
    /* 768px to 992px (tablets and iPads) */
}

@media only screen and (min-width: 1200px) {
    /* more than 1200px (desktops) */
}

/* ---------------- MEDIA QUERIES END HERE ---------------- */