/* ---------------- WRITE-UPS PAGE ---------------- */

.filter {
    grid-area: filter;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "filterTop"
    "filterBtns";
}

#filter-title {
    grid-area: filterTop;
    font-size: 2.1rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.filterBtn {
    grid-area: filterBtns;
    display: flex;
    overflow-y: auto;
    overflow-x: hidden;
    height: auto;
    max-height: 270px;
    /* flex-direction: column; */
    justify-content: flex-start;
    /* align-items: center; */
}

.filterBtn button {
    display: block;
    border-radius: 5px;
    margin: 2px;
    width: 100%;
    min-height: 30px;
    border: 0px;
    font: inherit;
    font-weight: 600;
    font-size: 1rem;
    background-color: #777;
    cursor: pointer;
    height: 40px;
    max-height: 100%;
    outline: 0px;
}
/* 
#filterArt {
    height: 100%;
    width: 100%;
    margin: 0px;
    background-color: lightblue;
} */

.list {
    overflow-y: scroll;
    grid-area: list;
    display: grid;
    grid-auto-rows: 200px;
    margin: 0px;
    padding: 5px;
    /* margin-bottom: 5px; */
    gap: 1rem;
}

.content {
    background: url("/files/images/ComingSoonImage.png");
    background-size: contain;
    color: #fff;
    margin: 0px;
    /* margin-bottom: 2px;  */
    border-radius: 4px;
    padding: 2px;
    opacity: 1;
    width: 100%;
    justify-content: center;
}

.technical {
    display: block;
}

.nonTechnical {
    display: block;
}

/* ---------------- WRITE-UPS PAGE ENDs HERE ---------------- */

/* ---------------- MEDIA QUERIES ---------------- */
@media only screen and (max-width: 600px) {
    /* less than 600px (phones) */
    .filter {
        grid-template-rows: 1fr 3fr 0fr;
    }

    #filter-title {
        font-size: 1.4rem;
        padding-top: 5px;
    }
    
    .filterBtn {
        max-height: 200px;
    }

    #filterArt {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    /* 600px to 768px (landscape phones and small tablets) */
}

@media only screen and (max-width: 992px) {
    /* 768px to 992px (tablets and iPads) */
}

@media only screen and (min-width: 1200px) {
    /* more than 1200px (desktops) */
}

/* ---------------- MEDIA QUERIES END HERE ---------------- */