#landing {
    height: 100vh;
    overflow: hidden;
    margin-left: 20rem;
}

.landing__container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 1.8rem;
    align-items: center;
    justify-content:center ;
}

.intro__container {
    display: flex;
    justify-content: flex-start;
    text-align: left;
    flex-direction: column;
    padding: 2rem;
    height: 90%;
    opacity: 0;

}

.title {
    /* padding: 3rem; */
    width: 100%;
    color: var(--color-primary-variant);
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.intro__container p {
    font-size: 1.5rem;
}

.versatile {
    color: var(--color-secondary);
}

/*  ================== CTA ================ */
.cta {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    margin: 2rem 0;
}

/* =================== FREATURED ================== */
/* .featured__container {
    background-color: rgba(var(--rgb-secondary), 0.2);
    height: 100%;
    width: 100%;
    position: relative;
}

.heading {
    padding: 1rem 0;
    font-size: 2.5rem;
    text-align: center;
}

.featured_card{
    background-color: black;
    height: 80%;
    width: 20rem;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    border-radius: 20px;
    position: relative;
} */


/* =================== LANDING SOCIALS ================== */
.header__socials {
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3rem;
    position: absolute;
    right: 0;
    bottom: 3rem;
}

.header__socials::before {
    content: '';
    width: 1px;
    height: 3rem;
    background: var(--color-primary);
}

/* ======================== ME =====================*/








/* =============== MEDIA QUERIES (MEDIUM DEVICES) ============ */

@media screen and (max-width: 1024px) {
    header {
        height: 68vh;
    }

}

/* =============== MEDIA QUERIES (SMALL DEVICES) ============ */

@media screen and (max-width: 600px) {
    header {
        height: 100vh;
        margin-left: unset;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .title {
        margin: 0.7rem;
        grid-area: t;
        width: unset;
    }

    .subtitle {
        justify-content: center;
    }

    .cta {
        margin-top: 0.9rem;
        justify-content: center;
    }

    .me {
        grid-area: m;
    }

    .header__container {
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 1fr;
        grid-template-areas: 't'
            'm';
    }

    .header__socials {
        display: none;
    }
}