#landing {
    height: 100vh;
    overflow: hidden;
}

.landing__container {
    /* position: relative; */
    padding: 2rem 4rem 2rem 1rem; 
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-auto-rows: 1fr;
    grid-auto-flow: dense;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.bento-section {
    height: 100%;
    padding: 1rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    /* overflow: hidden; */
}

.bento-section-projects {
    grid-column: span 7;
    grid-row: span 5;
    background: linear-gradient(to bottom, rgba(var(--rgb-primary-variant),0.12),  transparent); 
    
}

.bento-section-artwork {
    grid-column: span 5;
    grid-row: span 5;
    background: linear-gradient(to left, rgba(var(--rgb-primary-variant),0.12),  transparent);
}

.bento-section-text {
    position: relative;
    grid-column: span 3;
    grid-row: span 3;
    /* background: rgba(var(--rgb-primary-variant),0.12); */
}

.bento-section-blog {
    grid-column: span 9;
    grid-row: span 3;
    background: linear-gradient(to top, rgba(var(--rgb-primary-variant),0.12),  transparent);
}


.intro-container {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: flex-start;
    text-align: justify;
    flex-direction: column;
    padding: 1.4rem 1rem;
    height: 110%;
    font-size: 1.4rem;
    opacity: 1;
    justify-content: space-between;
    background: rgba(var(--rgb-primary-variant),0.12);
    z-index: 4;
}

.cta {
    display: flex;
    font-size: 1rem;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    margin: 0.1rem 0;
}

.landing-featured-title {
    display: inline-flex;
    font-style: italic;
    justify-content: space-between;
    font-weight: 200;
    width: 100%;
    height: 2rem;
    
}

.landing-featured-title>p {
    text-wrap: nowrap;
    padding: 0 0.5rem;
}

.landing-featured-title-line {
    content: '';
    width: 100%;
    height: 1px;
    margin: 0.8rem 0.1rem;
    background-color: rgba(var(--rgb-secondary-variant));
}

.landing-featured-projects {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
    padding: 0.5rem 0rem;
    gap: 10px;
}



/*  ================== CTA ================ */
/* .cta {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    margin: 2rem 0;
} */

/* =================== FREATURED ================== */
/* .featured__container {
    background-color: rgba(var(--rgb-secondary), 0.2);
    height: 100%;
    width: 100%;
    position: relative;
}

.heading {
    padding: 1rem 0;
    font-size: 2.5rem;
    text-align: center;
}

.featured_card{
    background-color: black;
    height: 80%;
    width: 20rem;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    border-radius: 20px;
    position: relative;
} */


/* =================== LANDING SOCIALS ================== */
.header__socials {
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3rem;
    position: absolute;
    right: 0;
    bottom: 3rem;
}

.header__socials::before {
    content: '';
    width: 1px;
    height: 3rem;
    background: var(--color-primary);
}

/* ======================== ME =====================*/








/* =============== MEDIA QUERIES (MEDIUM DEVICES) ============ */

@media screen and (max-width: 1024px) {
    header {
        height: 68vh;
    }

}

/* =============== MEDIA QUERIES (SMALL DEVICES) ============ */

@media screen and (max-width: 600px) {
    header {
        height: 100vh;
        margin-left: unset;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .title {
        margin: 0.7rem;
        grid-area: t;
        width: unset;
    }

    .subtitle {
        justify-content: center;
    }

    .cta {
        margin-top: 0.9rem;
        justify-content: center;
    }

    .me {
        grid-area: m;
    }

    .header__container {
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 1fr;
        grid-template-areas: 't'
            'm';
    }

    .header__socials {
        display: none;
    }
}