/* .skills__container {
    display: grid;
    grid-template-columns: 1.3fr 0.7fr;
    gap: 2rem;
    height: 80%;
}
.wrapper__skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.skills__content {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 0.7rem;
    gap: 1.2rem;
    text-align: center;
}

.skill__details {
    height: fit-content;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0.5rem;
    border: 1px solid var(--color-primary);
    font-size: 1.5rem;
    border-radius: 0.9rem;
}

.skill__details small {
    font-weight: 300;
    font-size: 0.9rem;
    margin-block-start: 0;
    margin-block-end: 0;
}

.skill__icon {
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 1.1rem;
    background: var(--color-primary-variant);
    padding: 1rem 0.45rem;
    width: 100%;
    font-size: 3rem;
    color: var(--color-white);
}
.skills__img{
    height: 100%;
    align-items: center;
    justify-items: center;
    text-align: center;
}
.skills__img h2 {
    padding: 0.3rem;
    letter-spacing: 0.4rem;
    color: var(--color-light);
}
.skills__img img{
    max-height: 250px;
    object-fit: contain;
} */


/* =============== MEDIA QUERIES (MEDIUM DEVICES) ============ */

/* @media screen and (max-width: 1024px) {
    .skills__container {
        grid-template-columns: 1fr;
        grid-template-areas: "ts"
        "ti";
        grid-template-rows: 1fr 0.6fr;
    }

    .skills__content {
        grid-area: ts;
        grid-template-rows: repeat(3, 1fr); 
        gap: 0.4rem;
        grid-template-columns: repeat(4,1fr);
    }
    .skills__img {
        grid-area: ti;
    }
} */

/* =============== MEDIA QUERIES (SMALL DEVICES) ============ */

/* @media screen and (max-width: 600px) {
    .skills__container {
        gap: 1rem;
    }

    .skills__container>div {
        width: 100%;
        padding: 2rem 1rem;
    }
} */