nav {
    position: fixed;
    left: 0%;
    top: 0%;
    height: 100vh;
    z-index: 10;
    padding: 0.9rem 1.8rem;
    background: var(--color-black);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20rem;
    border-right: 1px solid rgba(var(--rgb-white), 0.3);
    font-size: 1.5rem;
}

.navlinks {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
}

.navlink {
    padding: 0.8rem 1.6rem;
    border-radius: 0.5rem;
    color:var(--color-white);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    transition: var(--transition);
}

.navlink:not(.active) {
    background: transparent;
    opacity: 0.3;
}

.navlink:not(.active):hover {
    color: var(--color-white);
    opacity: 0.8;
}


.navLogo{
    display: flex;
    padding: 0.5rem;
    border-radius: 50%;
    font-size: 2.5rem;
    
}

.navlink.active .navLogo{
    background-color: rgba(var(--rgb-white), 0.3);
}

.logo {
    background: rgba(var(--rgb-white), 0.1);
    padding: 1.5rem;
    border-radius: 50%;
    border: 2px solid var(--color-secondary-variant);
    margin: 2rem;
}

.socials_header {
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.socials_header::before {
    content: '';
    width: 4rem;
    height: 1px;
    background-color: white;
}

.socials_header::after {
    content: '';
    width: 4rem;
    height: 1px;
    background-color: white;
}

.socials_links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem;
    font-size: 2.6rem;
}

.socials_links a {
    color: rgba(var(--rgb-white), 0.3);

}
.socials_links a:hover {
    color: rgba(var(--rgb-white), 1);
}

/* =============== MEDIA QUERIES (MEDIUM DEVICES) ============ */

@media screen and (max-width: 1024px) {
    nav {
        flex-direction: row;
        width: 100vw !important;
        height: unset;
        transform: translate(0%);
        gap: unset;
        justify-content: space-evenly;
        align-items: center;
        top: unset;
        bottom: 0%;
        border-radius: 0;
        font-size: 0.8rem;
        padding: 0.5rem;
    }

    nav > div {
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .navlinks {
        display: flex;
        flex-direction: row;
        padding: unset;
        width: 99%;
        justify-content: space-between;
    }

    nav .logo {
        display: none;
    }

    .navlink {
        padding: 0.5rem;
        gap: 2.5px;
        flex-direction: column;
    }

    .navLogo {
        font-size: 2.5rem;
    }

    .socials_section{
        display: none;
    }
}