/* Header Font */
@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&display=swap');

/* Body Font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    --color-black: #00171F;
    --color-white: #DFE7ED;

    --color-primary: #29738e;
    --color-primary-variant: #5f96aa;

    --color-secondary: #f1e5d7;
    --color-secondary-variant: #7f6f62;

    /* RGB value strings for alpha value manipulation */
    --rgb-black: 0, 23, 31;
    --rgb-white: 223, 231, 237;

    --rgb-primary: 41, 115, 142;
    --rgb-primary-variant: 95, 150, 170;

    --rgb-secondary: 241, 229, 215;
    --rgb-secondary-variant: 127, 111, 98;


    --transition: all 400ms ease;

    --container-width-lg: 85%;
    --container-width-md: 88%;
    --container-width-sm: 90%;

    --font-headers: "Libre Bodoni", serif;
    --font-body: "Montserrat", sans-serif;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
    background: var(--color-black);
}

::-webkit-scrollbar {
    display: none;
}

body {
    font-family: var(--font-body);
    font-weight: 400;
    color: var(--color-secondary);
    line-height: 1.5;
    background: linear-gradient(to right, var(--color-black), #000000);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* ================= GENERAL STYLES =================== */

.container {
    width: var(--container-width-lg);
    margin: 0 0 0 16rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-headers);
    letter-spacing: -2px;
    line-height: 1;
}

h1 {
    font-size: 4rem;
    font-weight: 700;
}

h2 {
    font-size: 3.5rem;
    font-weight: 700;
}

h3 {
    font-size: 3rem;
    font-weight: 600;
}

h4 {
    font-size: 2.5rem;
    font-weight: 600;
}

h5 {
    font-size: 2rem;
    font-weight: 500;
}

h6 {
    font-size: 1.5rem;
    font-weight: 500;
}

.text-light {
    font-weight: 200;
}

.right-align {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

a {
    color: var(--color-primary-variant);
    transition: var(--transition);
}

a:hover {
    color: var(--color-white);
}

.btn {
    width: max-content;
    display: flex;
    color: var(--color-primary);
    gap: 0.3rem;
    align-items: center;
    padding: 0rem 0.1rem;
    border-radius: 0;
    cursor: pointer;
    transition: var(--transition);
    border-bottom: 1px solid var(--color-primary);
}

.btn:hover {
    color: var(--color-primary-variant);
    border-bottom: 1px solid var(--color-primary-variant);

}

.btn-secondary {
    background: var(--color-secondary);
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
}

/* =============== MEDIA QUERIES (MEDIUM DEVICES) ============ */

@media screen and (max-width: 1024px) {
    .container {
        width: var(--container-width-md);
    }
}

/* =============== MEDIA QUERIES (SMALL DEVICES) ============ */

@media screen and (max-width: 600px) {
    .container {
        width: var(--container-width-sm);
    }
}